.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.clock {
  align-items: center;
  align-self: center;
  display: flex;
  height: 300px;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 300px;

  &::before {
    content: '';
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(
      circle at center,
      transparent 60%,
      #fff 62%
    );
    mask-image: radial-gradient(
      circle at center,
      transparent 60%,
      #fff 62%
    );
    background-image: repeating-conic-gradient(
      from 359deg,
      var(--color-main-green) 0 75deg, transparent 76deg 90deg      
    ), repeating-conic-gradient(
      from 359.5deg,
      var(--color-main-red) 0 90deg, transparent 91deg 90deg     
    );
  }
  
  &::after {
    content: '';
    background-color: #666;
    border-radius: 50%;
    height: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    z-index: 1001;
  }

  .hand {
    bottom: 50%;
    height: 30%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: bottom;
    width: 4px;
    background-color: white;
  }

}